/LexicographicGenerator/nbproject/private/
/LexicographicGenerator/build/
/Karatsuba/nbproject/private/
/Karatsuba/build/
/Strassens/nbproject/private/
/Strassens/build/
/CoinDemo/nbproject/private/